{% extends "mainapp/base.html" %}
{% load staticfiles %}

{% block content %}
<main class="container">
  <div class="jumbotron" style="width: 985px; margin-left: 84px;">
    <main class="container">
      <h2 style="font-size: 44px; margin-top: 0px;">How does it work?</h2>
      <small class="lead">&#8658; You are three steps away from meeting your special someone...</small><br><br>
      <span style="font-size: 18px;">1. Be natural, honest and spontaneous. Include your best photo to make an impression.</span><br><br>
      <span style="font-size: 18px;">2. Discover our personalised selection of detailed dating profiles.</span><br><br>
      <span style="font-size: 18px;">3. Find your perfect match.</span><br><br>
      <p>&#8658; We believe in you! Good Luck!</p>
    </main>
  </div>
</main>
{% endblock %}
